.navBar {
  width: 100%;
  display: inline-block;
  background-color: #3d9b34;
  height: 4rem;
  border-radius: 0.25em;
}

.Title {
  position: absolute;
  color: whitesmoke;
  letter-spacing: 0.4em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  right: 1em;
  top: 0.75em;
}

.MenuContainer {
  padding-top: 1.5rem;
  padding-left: 1rem;
}

.Menu {
  cursor: pointer;
}

.OpenMenu {
  top: 2rem;
  transition: 0.3s ease;
  position: relative;
  background-color: whitesmoke;
  width: 100%;
}

.Link {
  height: 10rem;
  color: #3d9b34;
  margin: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
